<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  </head>

  <body>
    <div id="sidebar">
      <div id="logo">
        <%= link_to root_path do %>
          <%= image_tag "logo.svg" %>
        <% end %>
      </div>

      <ul>
        <li class="category">Веб Сайт</li>
        <li><%= link_to "Blog", root_path %></li>
        <li>Обо мне</li>
      </ul>

      <ul>
        <li class="category">Social</li>
        <li><a href="https://github.com/nikita-titov">GitHUb</a></li>
        <li><a href="https://github.com/nikita-titov">GitHUb1</a></li>
        <li><a href="https://github.com/nikita-titov">GitHUb2</a></li>
        <li><a href="https://github.com/nikita-titov">GitHUb3</a></li>
      </ul>

      <p class="sign_in">Админ вход</p>
    </div>

    <div id="main_content">
      <div id="header">
        <p>Все посты</p>
        <div class="buttons">
          <buttons class="button"><%= link_to "Новый пост", new_post_path %></buttons>
          <buttons class="button">Выйти</buttons>
        </div>
      </div>

      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert") %>
      <% end %>
    
      <%= yield %>

    </div>
  </body>
</html>
